<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		{% load static %}
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "css/screen.css" %}" rel="stylesheet" media="screen">
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
		  <script src="{% static "js/html5shiv.min.js" %}></script>
		  <script src="{% static "js/respond.min.js" %}></script>
	    <![endif]-->
    </head>
    <body>
        <!-- Navigation -->
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="/">UCLA Indoor Navigation</a>
		  </div>
		
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
			    <li class="home"><a href="/">Home</a></li>
			    <li class="galleries dropdown">
					<a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
			            Gallery views<b class="caret"></b>
			        </a>
					<ul class="dropdown-menu">
						<li class="sub-page">Date views</li>
						<li class="sub-page">List views</li>
					</ul>
				</li>
			    <li class="photos dropdown">
					<a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
			            Photo views<b class="caret"></b>
			        </a>
					<ul class="dropdown-menu">
						<li class="sub-page">Date views</li>
						<li class="sub-page">List views</li>
					</ul>
				</li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
    	<div class="container">
            <form class="form-inline">
  		<div class="form-group">
                    <label for="building-select">Building</label>
                    <input id="building" type="text" class="form-control"/>
  		</div>
                
		<div class="form-group">
		    <label for="start-room">Start room</label>
                    <input id="start" type="text" class="form-control"/>
   		</div>

  		<div class="form-group">
                    <label for="end-room">End room</label>
               	    <input id="end" type="text" class="form-control"/>
                </div> 
		<button id="getImage" class="btn btn-info" >Go</button>
            </form>
            <div id="image-container">
            </div>
        </div>
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>

        <script>
            var building = $("#building").val();
            var start = $("#start").val();
            var end = $("#end").val();
            var buildingId = 31; 

            var url = "/indoor/route/" + buildingId + "/2414"  + "/2408";
            
            $("#getImage").on("click", function(){
                $.getJSON(url, function(data) {
                    console.log(data);
                    var imageLink = data.images[0];
                    var html = "";
                    html += "<img src = '" + imageLink + "' " + "'>";
                    $("#image-container").html(html);
                });
            });
       </script>
        {% if building_list_dict %}
        <script>
        let building_list_dict = {{ building_list_dict | safe }};
        </script>
        <script src="{% static "js/project.js" %}"></script>
        {% endif %}
    </body>
</html>
