<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39834942-11"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());

            gtag('config', 'UA-39834942-11');
        </script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKJSG35');</script>
<!-- End Google Tag Manager -->

        <meta charset="utf-8">
        <title>UCLA Indoor Navigation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find out how to navigate your way through UCLA's buildings.">
		<!-- Bootstrap -->
		{% load static %}
        <link rel="icon" type="image/x-icon" href="/media/favicon.ico">
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "css/screen.css" %}" rel="stylesheet" media="screen">
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
		  <script src="{% static "js/html5shiv.min.js" %}></script>
		  <script src="{% static "js/respond.min.js" %}></script>
	    <![endif]-->
    </head>
    <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKJSG35"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <!-- Navigation -->
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>-->
		    <a class="navbar-brand" href="/">UCLA Indoor Navigation</a>
		  </div>
		
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <!--<div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
			    <li class="home"><a href="/">Home</a></li>
			    <li class="galleries dropdown">
					<a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
			            Gallery views<b class="caret"></b>
			        </a>
					<ul class="dropdown-menu">
						<li class="sub-page">Date views</li>
						<li class="sub-page">List views</li>
					</ul>
				</li>
			    <li class="photos dropdown">
					<a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
			            Photo views<b class="caret"></b>
			        </a>
					<ul class="dropdown-menu">
						<li class="sub-page">Date views</li>
						<li class="sub-page">List views</li>
					</ul>
				</li>
		    </ul>
          </div>--><!-- /.navbar-collapse -->
		</nav>
    	<div class="container">
            <div>Need to find your way through UCLA's buildings? Use the below form to help you out!
            <br/>Current supported buildings and floors are:
            <ul id="building-list">
                {% for building_name, building in building_list_dict.iteritems %}
                <li>{{building_name}}: {{ building.floors | join:', ' }}</li>
                {% endfor %}
            </ul>
            <br/>Also check out our <a href="https://play.google.com/store/apps/details?id=com.uclastudentmedia.UCLAMaps">Android</a> and <a href="https://itunes.apple.com/us/app/ucla-maps/id1284271661">iOS apps!</a>
            </div>
            <br/>
            <form id="main-form" class="form-inline">

                <div class="form-group">
                    <label for="building-select">Building</label>
                    <select id="building-select">
                        {% for building_name in building_list_dict %}
                        <option>{{building_name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="start-form" class="form-group">
                    <label for="start-room">Start room</label>
                    <input id="start-room" type="text" list="" class="form-control"/>
                </div>

                <div id="end-form" class="form-group">
                    <label for="end-room">End room</label>
                    <input id="end-room" type="text" list="" class="form-control"/>
                </div>

                <button id="submit">Go</button>
                <br/>

                <div class="form-group">
                    <input type="radio" id="room-to-room" name="navigation-type" value="room-to-room" checked>
                    <label for="room-to-room">Room to room</label>
                    <br/>
                    <input type="radio" id="find-a-room" name="navigation-type" value="find-a-room">
                    <label for="find-a-room">Find a room</label>
                </div>
            </form>
            <br/>
            <div id="error-msg" class="alert alert-danger hidden">
            </div>
            <div id="loading-msg" class="alert hidden">
            </div>
            <hr/>
            <div id="image-container">
            </div>
            <br/>
            <div>A project by <a href="http://apply.uclastudentmedia.com">UCLA Student Media</a></div>
            <br/>
        </div>
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>

        <script>
            var building = $("#building").val();
            var start = $("#start").val();
            var end = $("#end").val();
            var buildingId = 31; 

            var url = "/indoor/route/" + buildingId + "/2414"  + "/2408";
            
            $("#getImage").on("click", function(){
                $.getJSON(url, function(data) {
                    console.log(data);
                    var imageLink = data.images[0];
                    var html = "";
                    html += "<img src = '" + imageLink + "' " + "'>";
                    $("#image-container").html(html);
                });
            });
       </script>
        {% if building_list_dict %}
        <script src="{% static "js/jquery-ui-1.12.1.custom/jquery-ui.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}"/>
        <script>
        let building_list_dict = {{ building_list_json | safe }};
        </script>
        <script src="{% static "js/main.js" %}"></script>
        <style>
        .container {
            font-size: 18px;
        }
        #image-container img {
            width: 80%;
        }
        </style>
        {% endif %}
    </body>
</html>
