<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>UCLA Indoor Navigation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		{% load static %}
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "css/screen.css" %}" rel="stylesheet" media="screen">
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
		  <script src="{% static "js/html5shiv.min.js" %}></script>
		  <script src="{% static "js/respond.min.js" %}></script>
	    <![endif]-->
    </head>
    <body>
        <!-- Navigation -->
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>-->
		    <a class="navbar-brand" href="/">UCLA Indoor Navigation</a>
		  </div>
		
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <!--<div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
			    <li class="home"><a href="/">Home</a></li>
			    <li class="galleries dropdown">
					<a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
			            Gallery views<b class="caret"></b>
			        </a>
					<ul class="dropdown-menu">
						<li class="sub-page">Date views</li>
						<li class="sub-page">List views</li>
					</ul>
				</li>
			    <li class="photos dropdown">
					<a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
			            Photo views<b class="caret"></b>
			        </a>
					<ul class="dropdown-menu">
						<li class="sub-page">Date views</li>
						<li class="sub-page">List views</li>
					</ul>
				</li>
		    </ul>
          </div>--><!-- /.navbar-collapse -->
		</nav>
    	<div class="container">
            <p>Need to find your way through UCLA's buildings? Use the below form to help you out!
            <br/>Current supported buildings and floors are:
            <ul id="building-list">
                {% for building_name, building in building_list_dict.iteritems %}
                <li>{{building_name}}: {{ building.floors | join:', ' }}</li>
                {% endfor %}
            </ul>
            <br/><br/>Also look for our Android and iOS apps coming out soon!
            </p>
            <br/>
            <form id="main-form" class="form-inline">
                <div class="form-group">
                    <label for="building-select">Building</label>
                    <select id="building-select">
                        {% for building_name in building_list_dict %}
                        <option>{{building_name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="start-form" class="form-group">
                    <label for="start-room">Start room</label>
                    <input id="start-room" type="text" list="" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="end-room">End room</label>
                    <input id="end-room" type="text" list="" class="form-control"/>
                </div>

                <button id="submit">Go</button>
            </form>
            <br/>
            <div id="error-msg" class="alert alert-danger hidden">
            </div>
            <br/>
            <div id="image-container">
            </div>
        </div>
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        {% if building_list_dict %}
        <script src="{% static "js/jquery-ui-1.12.1.custom/jquery-ui.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "js/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}"/>
        <script>
        let building_list_dict = {{ building_list_json | safe }};
        </script>
        <script src="{% static "js/main.js" %}"></script>
        <style>
        .container {
            font-size: 18px;
        }
        #image-container img {
            width: 80%;
        }
        </style>
        {% endif %}
    </body>
</html>
